%tr
  %td= link_to user.id , ver_datos_user_path(user.id)
  %td= user.name
  %td= user.last_name
  %td= user.age
  %td= user.state
  %td= user.city
  %td= user.colony
  %td= user.street
  %td= user.uid
  %td= user.provider
  %td= user.permission_level  
