- breadcrumb :user_password_edit, @user
.container
  .row.my-5
    .offset-md-1.col-md-10
      .card.text-white.p-5.bg-primary
        .card-body
          %h1.mb-4.text-center Actualizar Contraseña
          = form_for current_user, url: update_password_user_path, builder: BootstrapFormBuilder   do |f|
            .row
              = f.errors
              .col-md-3
                .form-group
                  = f.label "Nueva Contraseña: "
              .col-md-9
                .form-group
                  = f.password_field :password, hint: "Deje los campos de contraseñas vacios si no desea actualizarla",required: false,  autocomplete: "new-password" , class: "form-control"
            .row
              .col-md-3
                .form-group
                  = f.label "Confirmar Contraseña: "
              .col-md-9
                .form-group
                  = f.password_field :password_confirmation , hint: "Asegurece que coincida la contraseña" ,required: false,  autocomplete: "new-password" , class: "form-control"
            .row
              .col-md-3
                .form-group
                  = f.label "Contraseña Actual: "
              .col-md-9
                .form-group
                  = f.password_field :current_password,label: "Contraseña Actual:", hint: "Se necesita su contraseña actual para confirmar",required: true,  autocomplete: "current-password" , class: "form-control"
            .row
              .offset-md-3.col-md-4
                .form-group
                  = f.submit "Actualizar", class: "btn btn-info btn-block"
              .col-md-4
                .form-group
                  = link_to "Atras", root_path , class: "btn btn-secondary btn-block"
