.container
  .row.my-5
    .offset-md-1.col-md-10
      .card.text-white.p-5.bg-primary
        .card-body
          %h1.mb-4.text-center= title ||= "Titulo"
          = form_for @category, builder: BootstrapFormBuilder do |f|
            .row
              = f.errors
              .col-md-3
                .form-group
                  = f.label :Nombre
              .col-md-9
                .form-group
                  = f.text_field :name, autofocus: true, placeholder: "Nombre", autocomplete: "name", requerid: true, class: "form-control"
            .row
              .col-md-3
                .form-group
                  = f.label :Decripcion
              .col-md-9
                .form-group
                  = f.text_area :description,  placeholder: "50 Caracteres Minimos", autofocus: true, autocomplete: "name", requerid: true, class: "form-control"
            .row
              .col-md-3
                .form-group
                  = f.label :Imagen
              .col-md-9
                .form-group
                  = f.text_field :c_img, autofocus: true, placeholder: "Imagen", autocomplete: "name", requerid: true, class: "form-control"
            .row
              .offset-md-3.col-md-4
                .form-group
                  = f.submit "Enviar", class: "btn btn-secondary btn-block"
              .col-md-4
                .form-group
                  = link_to "Atras", root_path , class: "btn btn-secondary btn-block"
