- breadcrumb :productos
.container.py-5
  .row
    .col.md-12
      .card
        .card-body
          .container
            %h1.text-center Listado Productos
            .row
              .col-6
                .container.my-4
                = link_to 'Nuevo', new_product_path, class:"btn btn-block btn-primary"
              .col-6
                .container.my-4
                = link_to 'Atras', home_administrador_path, class:"btn btn-block btn-primary"
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th name
                      %th description
                      %th price
                      %th quantify
                      %th send
                      %th avaliable
                      %th
                      %th
                      %th
                  %tbody
                    - @products.each do |product|
                      %tr
                        %td= product.p_name
                        %td= product.p_description
                        %td= product.p_price
                        %td= product.p_quantify
                        %td= product.p_send
                        %td= product.p_avaliable ? "Si" : "No"
                        %td= link_to 'Show', product, class:"btn btn-block btn-primary"
                        %td= link_to 'Edit', edit_product_path(product), class:"btn btn-block btn-primary"
                        %td= link_to 'Destroy', product, method: :delete, data: { confirm: "Estas Seguro?" }, class:"btn btn-block btn-primary"
